LecOnline.Core/LecConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:LecOnline.Core" elementFormDefault="qualified" targetNamespace="urn:LecOnline.Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="lecOnline" type="tns:LecOnline.Core.LecOnlineConfigurationSectionCT" />
	<xs:complexType name="LecOnline.Core.LecOnlineConfigurationSectionCT">
		<xs:attribute name="phone" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>Company phone</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="email" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>Email for the website</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="skype" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>Name of the Skype account which will be used for the communication</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="noReplyAddress" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The NoReplyAddress.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sendNotificationEmails" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The SendNotificationEmails.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
